body {
  background-color: #F0D2D1;
}
  
.box {
  display: inline-block;       
  border: 1px solid black;
  width: 15px;
  height: 15px;
  margin-left: -1px;
  margin-bottom: -1px;
  }

.off {
  background-color: #F6EFA6;
}

.on {
  background-color: #8EB19D;
}
  
.box:hover { 
  background: #66B3BA;
}

.center {
  margin: auto;
  display: table;
  margin-top: 10px;
}

.grid {
  width: 150px;
  line-height: 0;
  margin: auto;
  box-shadow: 0px 0px 20px gray;
  margin-top: 20px;
}
  
h1, h2, h3, h4 {
  color:black;
  margin: auto;
  text-align: center;
  width: 50%;
  margin-top: 10px;
  font-family: 'Press Start 2P', cursive;
}

p {
  font-family: 'Open Sans', sans-serif;
}


h4 {
  margin-top: 0px;
}

.btn {
  background-color: #42CAFD;
  border: 1px solid black;
  margin: 5px;
}
